<h2>New Restaurant!</h2>

<form>
  <label>
    Name
    <input type="text" name="restaurant[name]">
  </label>

  <label>
    Description
    <textarea name="restaurant[description]"></textarea>
  </label>
  
  <label>
	  Location
	  <input type="text"
	  name="restaurant[location]">
  </label>

  <input type="submit" value="Create New Restaurant">
</form>

<a href="#/">Back</a>