<h1><%= restaurant.escape("name") %></h1>

<p><%= restaurant.escape("description") %></p>

<p>Location: <%= restaurant.escape("location")%></p>

<div><div class='star-avg'></div>/5 star average</div>

<ul class="ratings"></ul>

<div class="ratings-new"></div>

<a href='#'>Back</a>